<div class="w-full flex flex-col gap-y-2 border-solid border-2 rounded border-sky-200 p-2">
    <form
        hx-post="{% url 'share_opinion' %}"
        hx-trigger="click from:#comment-{{post.pk}}"
        hx-target="#reply_status"
        hx-swap="outerHTML"
        class="flex grow"
    >
        <textarea name="opinion" class="grow focus:outline-none" id=""></textarea>
        <input hidden name="sup_post" value="{{post.pk}}"/>
        <input hidden name="sup_post_form"/>
        <input hidden name="main_post_form"/>
        <input hidden name="from_index" value="true"/>
    </form>
    <span class="flex justify-end">
        <button
            id="comment-{{post.pk}}"
            class="px-2 py-1 font-medium text-md bg-sky-500 hover:bg-sky-600 focus:outline-none active:bg-sky-700 rounded text-slate-100"
        >
            reply
        </button>
    </span>
</div>