<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.1/dist/cdn.min.js"></script>
    <script defer src="https://cdn.tailwindcss.com"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{csrf_token}}"}'>
    {% block header %}
        <header class="bg-white">
            <nav 
                class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8 border-solid border-b-2 border-slate-100" aria-label="Global"
            >
                <div class="flex lg:flex-1 font-bold font-large">
                    <a href="{% url 'index' %}">
                        <h2 class="text-md">Cord</h2>
                    </a>
                </div>
                <div>
                    <a class="shrink-0" href="{% url 'get_user_profile' request.user.username %}">
                        <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_1280.png" class="h-10 rounded-full shrink-0" alt="placeholder">
                    </a>
                </div>
            </nav>
        </header>
    {% endblock %}
    {% block status_block %}
    
    {% endblock %}
    
    
    {% block content %}

    {% endblock %}
</body>
</html>